hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid;
    color: #87C09B;;
  }

.card-description {
    font-size: small;
}

ul.ul {
  color: #87C09B;
}

#act-list {
  font-size: 60px;
}

  /* 
  
  NOTES
  GREEN COLOR: #87C09B; 
  
  */