
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 5px solid;
    color: #254D19;
  }

.card-description {
    font-size: small;
}

a {
  color: #254D19;
  text-decoration: none;
}

a:hover {
  color: #40822c;
  text-decoration: none;
}




/* 
html, body {
	background: url('https://wallpapercave.com/wp/wp4738978.jpg') no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-clip: border-box;
	height: 100%;
} */





  /* 
  
  NOTES
  GREEN COLOR: #87C09B; 
  
  */