{% extends "base.html" %} 

{% block title %} Home {% endblock title %} 

{% block content %}
<h1 style="font-family: 'Public Sans'; text-align: center;">Hello, {{user.username}}!</h1>
<h1 style="font-family: 'Reenie Beanie'; text-align: center;">Your Favorite Parks <i class="fa-solid fa-heart"></i></h1>


<div class="container">
    <div class="row">
        {% for result in results %}
            {% if result %}
        <div class="col-sm" style="margin-top: 10px;">
            <div class="card image-card" style="width: 18rem;">
                <img src="{{result.images[0].url}}" width="18rem;" height="200px;" class="card-img-top">
                    <div class="card-body">
                        <center><h5 class="card-title" style="font-size: 15px; font-family: 'Public Sans';"><a href="/state/{{result.states}}/{{result.parkCode}}">{{result.fullName}}</a></h5></center>
                        <center><a href="/favorites/delete/{{result.parkCode}}" data-id="{{p}}" action="post" class="btn btn-outline-danger btn-sm" type="submit" style="font-size: 12px; font-family: 'Public Sans';">Remove From Favorites</a></center>
                    </div>
            </div>
        </div>
        {% else %}
        <h4>You have no favorites!</h4>
            {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock content %}



<!-- {% if faves is none %} 
<p>You have no parks on your favorites list.</p>
{% else %}

<div class="container">
    <div class="row">
        {% for p in faves %}
        <div class="col-sm" style="margin-top: 10px;">
            <h4>{{p}}</h4>
            <a href="/favorites/delete/{{p}}" data-id="{{p}}" action="post" class="btn btn-outline-danger btn-sm" type="submit">Delete Park</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %} -->

