{% extends "base.html" %} 

{% block title %} Home {% endblock title %} 

{% block content %}

<h1 class="d-flex justify-content-center"><i class="fa-solid fa-mountain"></i></i>NPS App</h1>
<h3 class="d-flex justify-content-center">Bringing the parks to you.</h3>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit odit expedita ab odio asperiores obcaecati beatae quibusdam aperiam maiores rerum architecto aliquam ipsa molestiae at ad saepe, placeat cum eius. 
</p>
<hr />
<h3 class="d-flex justify-content-center">Browse Parks by State</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="/state/AL" value="AL">Alabama</a>
            </div>
            <div class="col-sm">
                <a href="/state/AK" value="AK">Alaska</a>
            </div>
            <div class="col-sm">
                <a href="/state/AS" value="AS">American Samoa</a>
            </div>
            <div class="col-sm">
                <a href="/state/AZ" value="AZ">Arizona</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href="/state/AR" value="AR">Arkansas</a>
            </div>
            <div class="col-sm">
                <a href="/state/CA" value="CA">California</a>
            </div>
            <div class="col-sm">
                <a href="/state/CO" value="CO">Colorado</a>	
            </div>
            <div class="col-sm">
                <a href="/state/CT" value="CT">Connecticut</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href="/state/DE" value="DE">Delaware</a>
            </div>
            <div class="col-sm">
                <a href="/state/DC" value="DC">District Of Columbia</a>
            </div>
            <div class="col-sm">
                <a href="/state/FL" value="FL">Florida</a>	
            </div>
            <div class="col-sm">
                <a href="/state/GA" value="GA">Georgia</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href="/state/GU" value="GU">Guam</a>
            </div>
            <div class="col-sm">
                <a href="/state/HI" value="HI">Hawaii</a>
            </div>
            <div class="col-sm">
                <a href="/state/ID" value="ID">Idaho</a>	
            </div>
            <div class="col-sm">
                <a href="/state/IL" value="IL">Illinois</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href="/state/IN" value="IN">Indiana</a>
            </div>
            <div class="col-sm">
                <a href="/state/IA" value="IA">Iowa</a>
            </div>
            <div class="col-sm">
                <a href="/state/KS" value="KS">Kansas</a>	
            </div>
            <div class="col-sm">
                <a href="/state/KY" value="KY">Kentucky</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href="/state/LA" value="LA">Louisiana</a>
            </div>
            <div class="col-sm">
                <a href="/state/ME" value="ME">Maine</a>
            </div>
            <div class="col-sm">
                <a href="/state/MD" value="MD">Maryland</a>	
            </div>
            <div class="col-sm">
                <a href="/state/MA" value="MA">Massachusetts</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href="/state/AL" value="MI">Michigan</a>
            </div>
            <div class="col-sm">
                <a href="/state/AL" value="MN">Minnesota</a>
            </div>
            <div class="col-sm">
                <a href="/state/AL" value="MS">Mississippi</a>	
            </div>
            <div class="col-sm">
                <a href="/state/AL" value="MO">Missouri</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href="/state/MT" value="MT">Montana</a>
            </div>
            <div class="col-sm">
                <a href="/state/NE" value="NE">Nebraska</a>
            </div>
            <div class="col-sm">
                <a href="/state/NV" value="NV">Nevada</a>	
            </div>
            <div class="col-sm">
                <a href="/state/NH" value="NH">New Hampshire</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href="/state/NJ" value="NJ">New Jersey</a>
            </div>
            <div class="col-sm">
                <a href="/state/NM" value="NM">New Mexico</a>
            </div>
            <div class="col-sm">
                <a href="/state/NY" value="NY">New York</a>	
            </div>
            <div class="col-sm">
                <a href="/state/NC" value="NC">North Carolina</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href="/state/ND" value="ND">North Dakota</a>
            </div>
            <div class="col-sm">
                <a href="/state/MP" value="MP">Northern Mariana Islands</a>
            </div>
            <div class="col-sm">
                <a href="/state/OH" value="OH">Ohio</a>	
            </div>
            <div class="col-sm">
                <a href="/state/OK" value="OK">Oklahoma</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href="/state/OR" value="OR">Oregon</a>
            </div>
            <div class="col-sm">
                <a href="/state/PA" value="PA">Pennsylvania</a>
            </div>
            <div class="col-sm">
                <a href="/state/PR" value="PR">Puerto Rico</a>	
            </div>
            <div class="col-sm">
                <a href="/state/RI" value="RI">Rhode Island</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href="/state/SC" value="SC">South Carolina</a>
            </div>
            <div class="col-sm">
                <a href="/state/SD" value="SD">South Dakota</a>
            </div>
            <div class="col-sm">
                <a href="/state/TN" value="TN">Tennessee</a>	
            </div>
            <div class="col-sm">
                <a href="/state/TX" value="TX">Texas</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href="/state/UT" value="UT">Utah</a>
            </div>
            <div class="col-sm">
                <a href="/state/VT" value="VT">Vermont</a>
            </div>
            <div class="col-sm">
                <a href="/state/VI" value="VI">Virgin Islands</a>	
            </div>
            <div class="col-sm">
                <a href="/state/VA" value="VA">Virginia</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href="/state/WA" value="WA">Washington</a>
            </div>
            <div class="col-sm">
                <a href="/state/WV" value="WV">West Virginia</a>
            </div>
            <div class="col-sm">
                <a href="/state/WI" value="WI">Wisconsin</a>	
            </div>
            <div class="col-sm">
                <a href="/state/WY" value="WY">Wyoming</a>
            </div>
        </div>
    </div>

 
{% endblock content %}