{% extends "base.html" %} 

{% block title %} Park Info {% endblock title %} 

{% block content %}

{% for result in results %}

<div class="container">
    <div class="row">
        <div class="col-sm" id="park-info">
            <a href="{{result.url}}"><h3>{{result.fullName}}</a>
            <form method="POST">
                <button data-id="{{result.parkCode}}" href="/state/{{result.states}}/{{result.parkCode}}" class="fave btn btn-sm btn-success" type="submit"><small>Add Park to Favorite </small><i class="far fa-heart"></i></button></h3>
            </form>

            <a href="/state/{{result.states}}" class="btn btn-secondary btn-sm" type="submit">Back to results</a>
<!-- 
            <div class="row">
                {% for activity in result.activities %}
                <div class="col-md acts">
                    <p style="color: red">{{activity.name}}</p>
                </div>
                {% endfor %}
            </div> -->

            <ul id="act-list" class="ul list edit">
                {% for activity in result.activities %}
                <li style="display:inline">{{activity.name}} | </li>
                {% endfor %}
            </ul>

            <p>{{result.description}}</p>

            {% for img in result.images %}
            <img src="{{img.url}}" width="300px;" height="200px;">
            <p>{{img.title}}</p>
            {% endfor %}

            {% for add in result.addresses%}
            <p>{{add.type}} Address: {{add.line1}}, {{add.city}}, {{add.stateCode}} {{add.postalCode}}</p>
            {% endfor %}

            <p class="weather">{{result.weatherInfo}}</p>


        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}

