{% extends "base.html" %} 

{% block title %} Home {% endblock title %} 

{% block content %}

<div class="container">
    <div class="row">
        {% for result in results %}
        <div class="col-sm" style="margin-top: 10px;">
            <div class="card image-card" style="width: 18rem;">
                <img src="{{result.images[0].url}}" width="18rem;" height="200px;" class="card-img-top">
                <div class="card-body">
                <center><h5 class="card-title"><a href="/state/{{result.states}}/{{result.parkCode}}">{{result.fullName}}</a></h5></center>
                <p class="card-text d-block text-truncate" style="font-size:small">{{result.description}}</p>
                </div>
        </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock content %}
