{% extends "base.html" %} 

{% block title %} {{user.username}} Home {% endblock title %} 

{% block content %}

<h1 style="font-family: 'Public Sans';">Edit Info</h1>

<div class="container row" style="font-family: 'Public Sans';">
    <form method="POST">
        {{form.hidden_tag()}}
        {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="col p-2">
                {{field.label}}
                {{field(class_="form-control")}}
            </div>
            {% endfor %}
        <div class="col pt-2">
            <button class="btn btn-success" type="submit">Submit Edits</button>
            <a href="/users/{{user.id}}" data-id="{{user.id}}" class="btn btn-danger btn-md" type="submit">Cancel</a>
        </div>
    </form>
</div>








{% endblock content %}