{% extends "base.html" %} 

{% block title %} {{user.username}} Home {% endblock title %} 

{% block content %}

<h1 class="mb-4">Welcome back, {{user.username}}!</h1>
<h6 class="user-info">Username: {{user.username}}</h6>
<h6 class="user-info">Email: {{user.email}}</h6>
<a href="/favorites" data-id="{{user.id}}" class="btn btn-success btn-md" type="submit">Go to favorites</a>
<a href="/users/{{user.id}}/edit" data-id="{{user.id}}" class="btn btn-secondary btn-md" type="submit">Edit Info</a>

{% endblock content %}